@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Neucha", cursive;
}

html {
    scroll-behavior: smooth;
}

#timeline::before {
    content: "";
    width: 0.25rem;
    position: relative;
    display: inline-block;
    border-radius: 0.75rem;
    background-color: #DEEADB;
    transform: rotate(30deg);
    height: 30px;
    left: -8px;
}

#timeline::after {
    content: "";
    width: 0.25rem;
    position: relative;
    display: inline-block;
    border-radius: 0.75rem;
    background-color: #DEEADB;
    transform: rotate(-30deg);
    height: 30px;
    right: -8px;
    top: -37px;
}
